<!DOCTYPE html>
<html>
<title>Transalator</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<div class="w3-container w3-blue">
  <h2>Transalate</h2>
</div>

<form class="w3-container" method="get" action="http://127.0.0.1:8000/t">
  {% csrf_token %}
  <p>
  <label>Enter Text</label>
  <input class="w3-input" type="text" name = "text"></p>
  <input type="submit" class="w3-blue" value="Translate">
</form>

</body>
</html>

